* {
  margin-bottom: 5px;
}

.dotted {
  border-style: dotted;
}

.doubled {
  border-style: double;
  margin-top: 5px;
}

.solid {
  border-style: solid;
  margin-top: 5px;
}

.mixed {
  border-style: solid double dotted dashed;
}

.solid-5px {
  border-style: solid;
  border-width: 5px;
}

.mixed-5px {
  border-style: solid;
  border-width: 1px 3px 5px 7px;
}

.solid-color-red {
  border-style: solid;
  border-color: red;
}

.mixed-color {
  border-style: solid;
  border-color: blue rgba(255, 0, 0) rgba(0, 255, 0) rgba(0, 0, 0);
}

.border-short {
  border: 5px solid blue;
}

.border-short-left {
  border-left: 10px solid red;
}

.border-short-bottom {
  border-bottom: 3px dotted violet;
}

.round-border-5px {
  border: 2px solid red;
  border-radius: 5px;
}

.round-border-20px {
  border: 2px solid blue;
  border-radius: 20px;
}
